.offer-tag {
    background-color: green;
    color: white;
    padding: 2px;
    margin-left: 5px;
    font-size: 12px;
    border-radius: 5px;

}

.lmj-plant-item {

	border-radius: 10px;
	height: 150px;
	width: 150px;
	margin : 25px 25px 0 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: relative;
	background-color: #60ca95;

}

.lmj-plant-list {
	list-style-type: none;
	padding: 32px;
	display: flex;
	flex-wrap: wrap;
	max-width: 870px;
}

.buttonAdd {
	border-radius: 10px;
	border: none;
	margin-left: 25%;
	margin-top: 5px; 
	background-color: #31b572;
	color: white;
	padding: 3px;
	width: 50%;
}